<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <customErrors mode="Off"/>
    <!--<httpRuntime maxRequestLength="10000" executionTimeout="400"/>
    <customErrors mode="On" defaultRedirect="~/Error Pages/404.aspx">
      <error statusCode="404" redirect="~/Error Pages/404.aspx"/>
    </customErrors>-->
		<compilation targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>
